@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Land Rover";
    src: url("../assets/fonts/LandRoverOT4-Light.woff") format("woff2"),
        url("../assets/fonts/LandRoverOT4-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Land Rover";
    src: url("../assets/fonts/LandRoverOT4-Medium.woff2") format("woff2"),
        url("../assets/fonts/LandRoverOT4-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Land Rover";
    src: url("../assets/fonts/LandRoverOT4-Bold.woff2") format("woff2"),
        url("../assets/fonts/LandRoverOT4-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@layer base {
    html,
    p {
        font-family: "Land Rover";
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: "Land Rover";
    }

    h1 {
        @apply text-4xl lg:text-7xl leading-tight lg:leading-tight text-ma-black;
    }

    h2 {
        @apply text-2xl lg:text-4xl leading-tight lg:leading-tight text-ma-black;
    }

    h3 {
        @apply text-xl lg:text-3xl leading-tight lg:leading-tight text-ma-black;
    }

    p {
        @apply text-base lg:text-xl font-light;
    }
}

.swiper {
    width: 100%;
    height: 100%;
    padding-bottom: 20px !important;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center;
    max-height: 450px;
}

.swiper-scrollbar-horizontal {
    position: relative !important;
    margin-top: 20px !important;
    width: calc(100% - 80px) !important;
    left: 0 !important;
    height: 2px !important;
}

.swiper-scrollbar {
    background: RGBA(129, 130, 128, 0.5) !important;
}

@media screen and (max-width: 640px) {
    .swiper-button-next:after,
    .swiper-button-prev:after {
        margin-top: 4px !important;
    }
}

@media screen and (min-width: 641px) {
    .swiper-button-next:after,
    .swiper-button-prev:after {
        margin-top: 8px !important;
    }
}

.swiper-scrollbar-drag {
    background: #11110e !important;
    height: 4px !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    color: #11110e !important;
}

@media screen and (max-width: 640px) {
    .swiper-button-next:after,
    .swiper-button-prev:after {
        font-size: 20px !important;
    }
}

@media screen and (min-width: 641px) {
    .swiper-button-next:after,
    .swiper-button-prev:after {
        font-size: 28px !important;
    }
}

html.lenis {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}
